.env
.env.*
!.env.example

__pycache__/
*.py[cod]
*.so
build/
dist/
*.egg-info/

.venv/
venv/

.ipynb_checkpoints/

.idea/
.vscode/
*.swp

.DS_Store

results/saved_figures/
results/blip2/saved_figures/
